
{
    "root": true,
    "env": {
		"browser": true,
		"es2021": true,
        "node": true
    },
	"extends": [
	  "eslint:recommended",
	  "plugin:@typescript-eslint/recommended"
	],
	"rules": {
		// disabled because .json imports
		"@typescript-eslint/no-var-requires": 0
	},
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "sourceType": "module",
        "ecmaVersion": 2020
    }
}
