@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "leaflet-sidebar-v2";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";
@import "../../node_modules/leaflet-velocity/src/css/leaflet-velocity.css";

body {
    margin: 0;
};

#map {
    height: 100vh;
};

#searchresults {

    RES {
        padding-left: .5rem;
        display: block;
        margin: .5rem 0;
        border-radius: .2rem;
        background-color: lightgrey;
    };

    NAME {
        display: block;
        font-size: 1.5rem;
    };

    ID { //MMSI
        margin: 0 .5rem;
    };

};
