@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "leaflet-sidebar-v2";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "../../node_modules/leaflet-velocity/src/css/leaflet-velocity.css";

body {
    margin: 0;
};

#map {
    height: 100vh;
};

#searchfield {
    margin-top: 1rem;
    margin-bottom: .2rem;
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    width: 100%;
    background: #f1f1f1;
}

#searchresults {

    RES {
        padding-left: .5rem;
        display: block;
        margin: .5rem 0;
        border-radius: .2rem;
        background-color: lightgrey;
    };

    RES:hover {
        background-color: rgba(211, 211, 211, 0.87);
        cursor: pointer;
    }

    NAME {
        display: block;
        font-size: 1.5rem;
    };

    ID { //MMSI
        margin: 0 .5rem;
    };

};

.back-button {
    font-size: 20pt;
}

#main-shipinfo {
    margin-top: .5rem;

    .title {
        display: flex;
        align-items: center;

        #shipname {
            margin-top: .6rem;
            margin-left: .5rem;
        }
    }

    tr:first-child {
        background: #f2f2f2;
    }

}
